<div>
    <span class="help is-info" *ngIf="isLoading">Loading...</span>
    <span class="help is-error" *ngIf="errorMessage">{{ errorMessage }}</span>
    <table class="table" *ngIf="!isLoading && !errorMessage">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>PIS</th>
                <th>CPF</th>
                <th>Equipe</th>
                <th>Cargo</th>
                <th>---</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of collection">
                <td>{{ row.id }}</td>
                <td>{{ row.nome }}</td>
                <td>{{ row.PIS}}</td>
                <td>{{ row.CPF }}</td>
                <td>{{ row.equipe }}</td>
                <td>{{ row.cargo }}</td>
                <td>
                    <button mdbBtn type="button" color="primary" size="sm" mdbWavesEffect
                            [routerLink]="['/editar', row.id]"><i class="fas fa-pen"></i>
                    </button>
                    <button mdbBtn type="button" color="default" size="sm" mdbWavesEffect
                            [routerLink]="['/lancamentos', row.id]"><i class="fas fa-calendar"></i>
                    </button>
                    <button mdbBtn type="button" color="danger" size="sm" mdbWavesEffect
                            [routerLink]="['/excluir', row.id]"><i class="fas fa-times"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
