<div>
  <span class="help is-info" *ngIf="isLoading">Loading...</span>
  <span class="help is-error" *ngIf="errorMessage">{{ errorMessage }}</span>
  <table class="table" *ngIf="!isLoading && !errorMessage">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Answers</th>
      <th>Points</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of collection">
      <td>{{ row.id }}</td>
      <td>{{ row.nome }}</td>
      <td>{{ row.PIS}}</td>
      <td>{{ row.CPF }}</td>
      <td>{{ row.equipe }}</td>
      <td>{{ row.cargo }}</td>
      <td>
        <button mdbBtn type="button" color="primary" rounded="true" size="sm" mdbWavesEffect [routerLink]="['/editar', row.id]">Editar</button>
        <button mdbBtn type="button" color="danger" rounded="true" size="sm" mdbWavesEffect [routerLink]="['/excluir', row.id]">X</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
