<div>
  <section class="section">
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <ul class="nav justify-content-center grey lighten-4 py-4">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['']">Colaboradores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/novo']">Novo Colaborador</a>
          </li>
        </ul>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </section>
</div>