<div>
  <span class="help is-info" *ngIf="isLoading">Loading...</span>
  <span class="help is-error" *ngIf="errorMessage">{{ errorMessage }}</span>
  <table class="table" *ngIf="!isLoading && !errorMessage">
    <thead>
    <tr>
      <th>ID</th>
      <th>Dia</th>
      <th>Inicio</th>
      <th>Termino</th>
      <th>---</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of collection">
      <td>{{ row.id }}</td>
      <td>{{ row.dia }}</td>
      <td>{{ row.inicio }}</td>
      <td>{{ row.termino }}</td>
      <td>
        <button mdbBtn type="button" color="primary" size="sm" mdbWavesEffect
                [routerLink]="['/editar', row.id]"><i class="fas fa-pen"></i>
        </button>
        <button mdbBtn type="button" color="danger" size="sm" mdbWavesEffect
                [routerLink]="['/excluir', row.id]"><i class="fas fa-times"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
